/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Small prototyping css framework
   v1.0
   License: none (public domain)
*/
.container {
  max-width: 1440px;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  margin: 0 auto;
}
.col-1 {
  display: flex;
  padding: 10px 0.5%;
  width: 6.25%;
}
.col-2 {
  display: flex;
  padding: 10px 0.5%;
  width: 12.5%;
}
.col-3 {
  display: flex;
  padding: 10px 0.5%;
  width: 18.75%;
}
.col-4 {
  display: flex;
  padding: 10px 0.5%;
  width: 25%;
}
.col-5 {
  display: flex;
  padding: 10px 0.5%;
  width: 31.25%;
}
.col-6 {
  display: flex;
  padding: 10px 0.5%;
  width: 37.5%;
}
.col-7 {
  display: flex;
  padding: 10px 0.5%;
  width: 43.75%;
}
.col-8 {
  display: flex;
  padding: 10px 0.5%;
  width: 50%;
}
.col-9 {
  display: flex;
  padding: 10px 0.5%;
  width: 56.25%;
}
.col-10 {
  display: flex;
  padding: 10px 0.5%;
  width: 62.5%;
}
.col-11 {
  display: flex;
  padding: 10px 0.5%;
  width: 68.75%;
}
.col-12 {
  display: flex;
  padding: 10px 0.5%;
  width: 75%;
}
.col-13 {
  display: flex;
  padding: 10px 0.5%;
  width: 81.25%;
}
.col-14 {
  display: flex;
  padding: 10px 0.5%;
  width: 87.5%;
}
.col-15 {
  display: flex;
  padding: 10px 0.5%;
  width: 93.75%;
}
.col-16 {
  display: flex;
  padding: 10px 0.5%;
  width: 100%;
}
