/* Small responsive prototyping css framework
   v1.0
   License: none (public domain)
*/
// Global styles
@padding-width: 15px;


html{
  font-size:62.5%;
}

a{
  .font-properties();
  text-decoration: none;
  font-size:1.4rem;
}

p{
  .font-properties();
   line-height: 1.3;
   font-size: 1.6rem;
}

h1{
  .font-properties();
  font-size:3.6rem;
}

h2{
  .font-properties();
  font-size:2.6rem;
}

h3{
  .font-properties();
  font-size:2.2rem;
}

h4{
  .font-properties();
   font-size:1.8rem;
}

h5{
  .font-properties();
  font-size:1.6rem;
}
h6{
  .font-properties();
  font-size:1.2rem;
}

.btn-primary{
  .btn();
  background-color: @primary;
}

.col-1{
  .col(1);
}

.col-2{
  .col(2);
}

.col-3{ 
  .col(3);
}
.col-4{
  .col(4);
}
.col-5{
  .col(5);
}
.col-6{
  .col(6);
}
.col-7{
  .col(7);
}
.col-8{
  .col(8);
}
.col-9{
  .col(9);
}
.col-10{
  .col(10);
}
.col-11{
  .col(11);
}
.col-12{
  .col(12);
}
.col-13{
  .col(13);
}
.col-14{
  .col(14);
}
.col-15{
  .col(15);
}
.col-16{
  .col(16);
}

.flex-centered-spacebetween{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container{
  header{
    .flex-centered-spacebetween();
    width:100%;
    padding:1%;
    justify-content: space-between;
    border-bottom: @border-bottom;
    .brand{
      h1{
        color:@secondary;
      }
    }
    nav{
      a{
        padding:@padding-width;
      }
    }
  }
}

.container{
  .jumbotron{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    .jumbotron-wrapper{
      border-bottom:@border-bottom;
      padding:48px;
      h1{
        color:@secondary;
      }
      p{
        .font-properties();
        width: 60%;
        margin:25px 0px;
        color:@secondary;
      }
      .btn{
        .btn-primary();
      }
    }
  } 
}