// Mixins
.font-properties{
  font-family: 'Raleway', sans-serif;
  color:@font-color;
  font-weight: 300;
}

.flex-centered {
  display: flex;
  justify-content: center;
  align-items: center;
}


.border-shadow{
  box-shadow: 0 4px 13px -3px rgba(0, 0, 0, 0.10196);
  border-bottom: 1px solid @lightgrey;
}

  
.col(@value){
  display:flex;
  flex-direction:column;
  padding:10px 0.5%;
  //.col-border(black);
  //background-color: grey;
  width:@width * @value;
  padding:10px 2.083%;
}
.btn-properties{
  width: 120px;;
  height: 40px;
  margin-top:10px;
  border-radius: 6px;
  text-transform: capitalize;
  font-family: 'Raleway', sans-serif;
  font-size:1.4rem;
  transition: background-color 2s ease-out;

}

.btn{
  .btn-properties();
  .flex-centered();
  color: white;
  box-shadow: 0 4px 13px -3px rgba(0, 0, 0, 0.10196);
}

.col-border(@bd-color) {
  border-right: 1px solid @bd-color;
}

@border-bottom:1px dotted @secondary;

