// Media query

@tablet: ~"(max-width:800px)";
@phone: ~"(max-width:500px)";

// Grid variable
@width:6.25%;

//colors
@primary:#0091CF;
@secondary:#01395E;
@danger:#FD4445;
@warning:#FFAF00;
@light:#ffffff;
@lightdark:#817C7C;
@lightgrey:#E5E5E5;
@tabBgColor:#F1F1F1;
@tabBorderColor:#E5E5E5;
//colors assigment 
@font-color: @secondary;

//General variables
@border-bottom:1px dotted @secondary;

